<section class="login">
  <div class="contenido-login">
    <div class="login-logo">
      <img src="./assets/img/image.png" alt="Refugio del Utcubamba Logo" />
      <h1>Refugio del Utcubamba</h1>
      <h2>Viajero 2.0</h2>
    </div>
    <div class="formulario">
      <form action="" class="formulario-login">
        <h2>Iniciar Sesión</h2>
        <div class="tipousuario label-input">
          <label for="tipousuario">Tipo de Usuario</label>
          <select id="tipousuario" name="tipousuario" class="input" required>
            <option value="" disabled selected>Seleccionar</option>
            <option value="administrador">Administrador</option>
            <option value="recepcionista">Recepcionista</option>
          </select>
        </div>
        <div class="usuario label-input">
          <label for="usuario">Usuario</label>
          <input
            type="text"
            id="usuario"
            name="usuario"
            class="input"
            required
          />
        </div>
        <div class="contrasena label-input">
          <label for="contrasena">Contraseña</label>
          <input
            type="password"
            id="contrasena"
            name="contrasena"
            class="input"
            required
          />
        </div>
        <div id="error" class=""></div>
        <button class="boton" id="btnLogin" type="submit">
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</section>
