<section class="menu">
  <aside class="sidebar">
    <div class="nav-info">
      <img
        class="imagen"
        src="./assets/img/image.png"
        alt="Logo del Refugio del Utcubamba"
      />
      <div class="nombre-principal">Refugio del Utcubamba</div>
      <div class="nombre-secundario">Viajero 2.0</div>
    </div>
    <nav class="nav">
      <ul>
        <li data-view="Dashboard">
          <span class="nav-icon">⬡</span><a href="#">Dashboard</a>
        </li>
        <li data-view="Reservas">
          <span class="nav-icon">◈</span><a href="#">Reservas</a>
        </li>
        <li data-view="Habitaciones">
          <span class="nav-icon">⬘</span><a href="#">Habitaciones</a>
        </li>
        <li data-view="Clientes">
          <span class="nav-icon">✦</span><a href="#">Clientes</a>
        </li>
        <li data-view="Usuarios">
          <span class="nav-icon">👤</span><a href="#">Usuarios</a>
        </li>
        <li class="nav-division"></li>
        <li data-view="Configuracion">
          <span class="nav-icon">⚙</span><a href="#">Configuración</a>
        </li>
        <li data-view="Perfil">
          <span class="nav-icon">◉</span><a href="#">Mi Perfil</a>
        </li>
      </ul>
    </nav>

    <div class="sidebar-footer">
      <button class="btn-cs" data-view="cerrar-sesion">↩ Cerrar sesión</button>
    </div>
  </aside>
</section>
