<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <img src="assets/image.png" />
      <div>Refugio del Utcubamba</div>
      <div>Viajero 2.0</div>
    </div>
    <nav>
      <ul>
        <li><span class="nav-icon">⬡</span> <a href="#">Dashboard</a></li>
        <li><span class="nav-icon"></span> <a href="#">Reservas</a></li>
        <li><span class="nav-icon"></span> <a href="#">Habitaciones</a></li>
        <li><span class="nav-icon"></span> <a href="#">Clientes</a></li>
        <li><span class="nav-icon"></span> <a href="#">Usuarios</a></li>
      </ul>
    </nav>
  </body>
</html>
